@import "tailwindcss";
@theme {
  --color-primary: #A8C267;
  --color-secondary: #707954;
  --color-accent: #333333;
  --color-neutralhigh: #F9FBF4;
  --color-neutrallow: #E2E7D3;
}
button:hover {
  cursor: pointer;
}

html, body {
  touch-action: pan-x pan-y;
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input, textarea {
  user-select: text;
  -webkit-user-select: text;
  font-size: 16px;
}